{% extends 'base.html' %}

{% load staticfiles %}
{% block content %}
  <h2>Welcome, {{ user.username }}!</h2>
  <hr>
  <a href="{% url 'postlist'  %}">Post</a>

  <hr>

<div>
	<form action="/your-name/" method="post">
		<label for="your_name">{{ user.username }} :</label>
		<input id="your_name" type="text" name="your_name" value="{{ current_name }}">
		<input type="submit" value="OK">
	</form>
</div>
		<button type="submit" class="save">Save</button></form>
<hr>
<p><label for="id_subject">Subject:</label>
    <input id="id_subject" type="text" name="subject" maxlength="100" required /></p>
<p><label for="id_message">Message:</label>
    <textarea name="message" id="id_message" required></textarea></p>
<p><label for="id_sender">Sender:</label>
    <input type="email" name="sender" id="id_sender" required /></p>
<p><label for="id_cc_myself">Cc myself:</label>
    <input type="checkbox" name="cc_myself" id="id_cc_myself" /></p>


{% endblock %}
